<?xml version="1.0"?>
<!--
/**
 * @author Tiago Sampaio <tiago@tiagosampaio.com>
 */
-->
<config>
    <modules>
        <Rede_Pay>
            <version>1.0.2.2</version>
        </Rede_Pay>
    </modules>
    <global>
        <models>
            <rede_pay>
                <class>Rede_Pay_Model</class>
                <resourceModel>rede_pay_resource</resourceModel>
            </rede_pay>
            <rede_pay_resource>
                <class>Rede_Pay_Model_Resource</class>
                <entities>
                    <payments_deprecated>
                        <table>rede_clickpag_payments</table>
                    </payments_deprecated>
                    <payments>
                        <table>rede_pay_payments</table>
                    </payments>
                </entities>
            </rede_pay_resource>
        </models>
        <resources>
            <rede_pay_setup>
                <setup>
                    <module>Rede_Pay</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </rede_pay_setup>
        </resources>
        <blocks>
            <rede_pay>
                <class>Rede_Pay_Block</class>
            </rede_pay>
        </blocks>
        <helpers>
            <rede_pay>
                <class>Rede_Pay_Helper</class>
            </rede_pay>
        </helpers>
        <events>
            <sales_order_collection_load_before>
                <observers>
                    <rede_pay_append_payments_to_order_collection>
                        <class>rede_pay/observer</class>
                        <method>appendPaymentsToOrderCollection</method>
                    </rede_pay_append_payments_to_order_collection>
                </observers>
            </sales_order_collection_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <rede_pay_append_payments_to_order_collection>
                        <class>rede_pay/observer</class>
                        <method>appendPaymentsToOrderCollection</method>
                    </rede_pay_append_payments_to_order_collection>
                </observers>
            </sales_order_grid_collection_load_before>
            <sales_order_load_after>
                <observers>
                    <rede_pay_append_payments_to_order>
                        <class>rede_pay/observer</class>
                        <method>appendPaymentsToOrder</method>
                    </rede_pay_append_payments_to_order>
                </observers>
            </sales_order_load_after>
            <adminhtml_block_html_before>
                <observers>
                    <rede_pay_modify_sales_order_grid>
                        <class>rede_pay/observer</class>
                        <method>modifySalesOrderGrid</method>
                    </rede_pay_modify_sales_order_grid>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>
    <frontend>
        <routers>
            <rede_pay>
                <use>standard</use>
                <args>
                    <module>Rede_Pay</module>
                    <frontName>redepay</frontName>
                </args>
            </rede_pay>
        </routers>
        <layout>
            <updates>
                <rede_pay>
                    <file>rede/pay.xml</file>
                </rede_pay>
            </updates>
        </layout>
        <translate>
            <modules>
                <rede_pay>
                    <files>
                        <default>Rede/Pay.csv</default>
                    </files>
                </rede_pay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <rede_pay>
                    <file>rede/pay.xml</file>
                </rede_pay>
            </updates>
        </layout>
        <translate>
            <modules>
                <rede_pay>
                    <files>
                        <default>Rede/Pay.csv</default>
                    </files>
                </rede_pay>
            </modules>
        </translate>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <rede_pay_add_order_consult_button>
                        <class>rede_pay/observer</class>
                        <method>addOrderConsultButton</method>
                    </rede_pay_add_order_consult_button>
                </observers>
            </adminhtml_widget_container_html_before>
            <sales_order_shipment_track_save_before>
                <observers>
                    <rede_pay_prepare_shipment_tracking>
                        <class>rede_pay/observer</class>
                        <method>prepareShipmentTrack</method>
                    </rede_pay_prepare_shipment_tracking>
                </observers>
            </sales_order_shipment_track_save_before>
            <sales_order_shipment_track_save_after>
                <observers>
                    <rede_pay_process_shipment_tracking>
                        <class>rede_pay/observer</class>
                        <method>processShipmentTrack</method>
                    </rede_pay_process_shipment_tracking>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_shipment_track_delete_after>
                <observers>
                    <rede_pay_delete_shipment_tracking>
                        <class>rede_pay/observer</class>
                        <method>deleteShipmentTrack</method>
                    </rede_pay_delete_shipment_tracking>
                </observers>
            </sales_order_shipment_track_delete_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rede_pay before="Mage_Adminhtml">Rede_Pay_Adminhtml</rede_pay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <rede_pay>
                <active>1</active>
                <title>Rede Pay</title>
                <debug>0</debug>
                <model>rede_pay/method_standard</model>
                <order_status>pending</order_status>
                <approved_order_status>processing</approved_order_status>
                <payment_action>order</payment_action>
                <test>1</test>
                <api_order_url>https://api.useredepay.com.br/orders</api_order_url>
                <api_consult_order_url>https://api.useredepay.com.br/orders</api_consult_order_url>
                <api_consult_url>https://api.useredepay.com.br/transactions</api_consult_url>
                <api_refund_url>https://api.useredepay.com.br/transactions</api_refund_url>
                <api_shipping_tracking_url>https://api.useredepay.com.br/transactions</api_shipping_tracking_url>
                <redepay_script_url>https://checkout.useredepay.com.br/checkout.js</redepay_script_url>
                <text_message>Você prosseguirá com o pagamento logo após a conclusão do pedido.</text_message>
                <allowspecific>0</allowspecific>
                <currency>BRL</currency>
                <sort_order>0</sort_order>
                <installments_amount>6</installments_amount>
                <installments_min_order_value>200.00</installments_min_order_value>
                <installments_min_parcel_value>20.00</installments_min_parcel_value>
                <lightbox_delay_time>1</lightbox_delay_time>
                <attributes_taxvat>taxvat</attributes_taxvat>
                <attributes_street>street_1</attributes_street>
                <attributes_number>street_2</attributes_number>
                <attributes_complement>street_3</attributes_complement>
                <attributes_neighborhood>street_4</attributes_neighborhood>
                <attributes_telephone>telephone</attributes_telephone>
                <attributes_cellphone>fax</attributes_cellphone>
                <attributes_business_phone>fax</attributes_business_phone>
                <!--<payment_retries_enabled>1</payment_retries_enabled>-->
                <!--<max_payment_retries>5</max_payment_retries>-->
            </rede_pay>
        </payment>
    </default>
</config>
